{
	name:	"u-boot",
	offset:	0x0,
	size:	0x80000,
}, {
	name:	"config",
	offset: 0x80000,
	size:	0x80000,
}, {
	name:	"factory",
	offset: 0x100000,
	size:	0x40000,
}, {
	name:	"config2",
	offset: 0x140000,
	size:	0x40000,
}, {
	name:	"firmware",
	offset:	0x180000,
	size:	0x2800000,
}, {
	name:	"private",
	offset:	0x2980000,
	size:	0x2000000,
}, {
	name:	"firmware2",
	offset:	0x4980000,
	size:	0x2800000,
}, {
	name:	"mydlink",
	offset:	0x7180000,
	size:	0x600000,
}, {
	name:	"reserved",
	offset:	0x7780000,
	size:	0x880000,
}